/* .Grid__main{
    display: flex;
    position: relative;
    background: #2c302d;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
   align-content: space-between;
   /* align-items: flex-start;   
} */

.Grid__child {
    position: relative;
    height: auto;
    width: auto; 
}

.Grid__child > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.Grid__child:hover {
    transition: 0.3s all ease-in-out;
    transform: skew(1deg);
    box-shadow: 5px 5px 25px white, -25px -25px 50px #2d302f;
    cursor: pointer;
}

.Grid__main {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
    grid-template-rows: repeat(6,200px);
    grid-auto-flow: dense;
}

.Grid__main > .Grid__child:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2;
}

.Grid__main > .Grid__child:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
}
